@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$title: #3f3434;
$description: grey;
$white: white;

@mixin text($fw,$fz,$ln,$ls,$color){
    font-weight: $fw;
    font-size: $fz;
    line-height: $ln;
    letter-spacing: $ls;
    color:$color;
    text-align: center;
}
%block{
    width: 230px;
    height: 209px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
body{
    font-family: "Montserrat", sans-serif;;
    background-color: rgb(128, 0, 128)
}
.container{
      width: 1050px;
      margin: auto;
      margin-top: auto;
      max-width: 750px;
}
.title{
    @include text(700,40px, 142% ,0.01em ,$title );
}
.description{
    @include text(500, 14px, 143%, 0.01em ,$description);
    width: 511px;
    margin: auto;
    padding-top: 10px;
}
.benefit__blocks{
    margin-top: 50x;
    margin: auto;
    justify-content: space-between;
    gap: 30px;

.block{
        @extend %block;

    }
}
