@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');
@import 'reset1.css';
:root{ 
    --bg-color: #C88686;
    --bg-form: #866262;
    --black:#000;
    --bg-btn:#592082;
    --font:"Reem Kufi", sans-serif;
} 

body{
    background-color: var(--bg-color);
    font-family: var(--font);
}  

.form {
    width: 518px;
    height: 726px;
    background-color: var(--bg-form);
    border-radius: 10px;
    margin: 149px auto;
}

.title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    line-height: 60px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 156;
    justify-content: space-between;
}
.data {

}
.login{
    color: #592082;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    line-height: 60px;
}
.placeholder{
    background-color: red;
}
