:root {
  --text: rgba(54, 57, 64, 1);
  --neutral-grey-5: rgba(139, 140, 140, 1);
  --neutral-grey-7: rgba(45, 47, 48, 1);
  --neutral-grey-6: rgba(79, 79, 79, 1);
  --neutral-grey-1: rgba(249, 248, 249, 1);
  --default-white: rgba(255, 255, 255, 1);
  --neutral-grey-8: rgba(21, 22, 23, 1);
  --text-gray-100: rgba(244, 245, 247, 1);
  --text-gray-200: rgba(238, 239, 244, 1);
  --text-gray-300: rgba(217, 219, 225, 1);
  --brand-primary-shade-1: rgba(15, 110, 140, 1);
  --neutral-white: rgba(255, 255, 255, 1);
  --subtitle-subtitle-1-font-family: "Inter", Helvetica;
  --subtitle-subtitle-1-font-weight: 700;
  --subtitle-subtitle-1-font-size: 18px;
  --subtitle-subtitle-1-letter-spacing: 0px;
  --subtitle-subtitle-1-line-height: 28px;
  --subtitle-subtitle-1-font-style: normal;
  --body-body-2-font-family: "Inter", Helvetica;
  --body-body-2-font-weight: 400;
  --body-body-2-font-size: 14px;
  --body-body-2-letter-spacing: 0px;
  --body-body-2-line-height: 24px;
  --body-body-2-font-style: normal;
  --heading-h6-font-family: "Inter", Helvetica;
  --heading-h6-font-weight: 500;
  --heading-h6-font-size: 20px;
  --heading-h6-letter-spacing: 0px;
  --heading-h6-line-height: 30px;
  --heading-h6-font-style: normal;
  --body-body-1-font-family: "Inter", Helvetica;
  --body-body-1-font-weight: 400;
  --body-body-1-font-size: 16px;
  --body-body-1-letter-spacing: 0px;
  --body-body-1-line-height: 26px;
  --body-body-1-font-style: normal;
}
