@import './reset.scss';
@import './vars.scss';
@import './mixins-extens.scss';

body{
    background-color: #ffffff;
}

.container{
    width: 1104px;
    margin: auto;
}
.title{
    @include text-style(700,40px, 142% ,0.01em, $title );
}