@import './reset.scss';
@import './vars.scss';
@import './mixins-extens.scss';

@import '../blocks/header.scss';
@import '../blocks/header.scss';
@import '../blocks/about.scss';
@import '../blocks/footer.scss';

body{
    background-color: #ffffff;
}

.container{
    width: 1104px;
    margin: auto;
}
.title{
    @include text(700,40px, 142% ,0.01em ,$title );
}