.big{
   width: 992px;
   height: 360px;
   background-color: #00d0ff;
   opacity: 0.5;
   margin: auto;
}
.small{
   width: 290px;
   height: 211px;
   background-color: #00d0ff;
   opacity: 0.5;
   margin-right: auto;
   margin-left: auto;
}
.long{
    width: 1397px;
   height: 48.6px;
   background-color: #00d0ff;
   opacity: 0.5;
}
.main{
   width: 1719px;
   display: flex;
   gap: 30px;
   justify-content: space-between;
   flex-wrap: wrap;
   /* margin-top: 30px; */
   margin: 31px auto;
}
