@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.benefit__blocks .block {
  width: 230px;
  height: 209px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}

.benefit__blocksadapt .blockadapt {
  width: 230px;
  height: 209px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(167, 132, 194);
}

.adaptivesite {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #FFFFFF;
}

.div-adapt {
  background-color: #fff;
  overflow-x: hidden;
  width: 375px;
  height: 3118px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: #FFFFFF;
}

.containeradapt {
  width: 500px;
  margin: auto;
  margin-top: auto;
  max-width: 375px;
}

.titleadapt {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: rgb(37, 43, 66);
  text-align: center;
}

.aboutadapt {
  width: 500px;
  margin: auto;
  margin-top: auto;
  max-width: 375px;
  height: 150px;
}

.descriptionadapt {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: rgb(115, 115, 115);
  text-align: center;
  width: 270px;
  margin: auto;
  padding-top: 10px;
}

.subtittleadapt {
  font-weight: 500;
  font-size: 16px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: rgb(115, 115, 115);
  text-align: center;
  width: 511px;
}

.benefit__blocksadapt {
  display: flex;
  margin: auto;
  margin-left: 75px;
  margin-right: 195px;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: nowrap;
  flex-direction: column;
}
.site {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(167, 132, 194);
}

.div {
  overflow: hidden;
  width: 1440px;
  height: 3609px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(167, 132, 194);
}

.container {
  width: 1050px;
  margin: auto;
  margin-top: auto;
  max-width: 750px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: rgb(37, 43, 66);
  text-align: center;
}

.about {
  width: 511px;
  margin: auto;
  margin-top: auto;
  max-width: 511px;
  height: 150px;
}

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: rgb(115, 115, 115);
  text-align: center;
  width: 511px;
  margin: auto;
  padding-top: 10px;
}

.subtittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: rgb(115, 115, 115);
  text-align: center;
  width: 511px;
}

.benefit__blocks {
  display: flex;
  margin: auto;
  margin-left: 195px;
  margin-right: 195px;
  margin-top: 50px;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: nowrap;
}
@media (max-width: 375px) {
  .site {
    display: none !important;
  }
}
@media (min-width: 375px) and (max-width: 1399px) {
  .site {
    display: none !important;
  }
}
@media (min-width: 1400px) {
  .adaptivesite {
    display: none !important;
  }
}/*# sourceMappingURL=base.css.map */