@import './reset.scss';
@import './vars.scss';
@import './mixins-extends.scss';
@import '../blocks/header.scss';

body{
    background-color: #151719;
}

.container{
    width: 1104px;
    margin: auto;
}
.title{
    @include text(700,40px, 142% ,0.01em ,$title );
}